.posts-container {
  padding: 3rem 0;

  display: flex;
  justify-content: center;
}

.posts-list {
  max-width: 80%;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);

  th,
  td {
    text-align: center;
    padding: 1rem;
    width: 14rem;
    box-sizing: border-box;
  }

  th {
    background-color: $blue;
    color: $white;
  }

  tr td:nth-child(1),
  tr th:nth-child(1) {
    text-align: left;
    width: 50rem;
  }

  tr:nth-child(odd) {
    background-color: $lightBlue;
  }
}
